<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta_questions</key>
	<dict>
		<key>1</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Sexo</key>
				<dict>
					<key>id</key>
					<string>11i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>Femenino</key>
				<dict>
					<key>id</key>
					<string>11o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Masculino</key>
				<dict>
					<key>id</key>
					<string>11o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>11</string>
			<key>title</key>
			<string>Elija su género cubriendo la pantalla de un solo color según su sexo</string>
			<key>type_of</key>
			<string>SC</string>
		</dict>
		<key>2</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Debe promoverse el uso de medios de transporte alternativos</key>
				<dict>
					<key>id</key>
					<string>12i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Deben construirse más avenidas para más autos</key>
				<dict>
					<key>id</key>
					<string>12i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>El transporte público es de buena calidad</key>
				<dict>
					<key>id</key>
					<string>12i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>La bicicleta es un medio de transporte eficiente</key>
				<dict>
					<key>id</key>
					<string>12i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Salir en bicicleta es peligroso</key>
				<dict>
					<key>id</key>
					<string>12i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>De acuerdo</key>
				<dict>
					<key>id</key>
					<string>12o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>En desacuerdo</key>
				<dict>
					<key>id</key>
					<string>12o4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Muy de acuerdo</key>
				<dict>
					<key>id</key>
					<string>12o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Muy en desacuerdo</key>
				<dict>
					<key>id</key>
					<string>12o5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Neutral</key>
				<dict>
					<key>id</key>
					<string>12o3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>12</string>
			<key>title</key>
			<string>Indique qué tan de acuerdo o en desacuerdo está con los siguientes enunciados</string>
			<key>type_of</key>
			<string>LK</string>
		</dict>
		<key>3</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Marca 1</key>
				<dict>
					<key>id</key>
					<string>13i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Marca 2</key>
				<dict>
					<key>id</key>
					<string>13i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Marca 3</key>
				<dict>
					<key>id</key>
					<string>13i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Marca 4</key>
				<dict>
					<key>id</key>
					<string>13i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Marca 5</key>
				<dict>
					<key>id</key>
					<string>13i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict/>
			<key>meta_question_id</key>
			<string>13</string>
			<key>title</key>
			<string>Reproduzca el video y vea con atención</string>
			<key>type_of</key>
			<string>MOQ</string>
		</dict>
		<key>4</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Ajax</key>
				<dict>
					<key>id</key>
					<string>14i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Chivas</key>
				<dict>
					<key>id</key>
					<string>14i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Liverpool</key>
				<dict>
					<key>id</key>
					<string>14i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Manchester</key>
				<dict>
					<key>id</key>
					<string>14i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>PSV</key>
				<dict>
					<key>id</key>
					<string>14i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Pumas</key>
				<dict>
					<key>id</key>
					<string>14i6</string>
					<key>order_number</key>
					<string>6</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>Bueno</key>
				<dict>
					<key>id</key>
					<string>14o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Malo</key>
				<dict>
					<key>id</key>
					<string>14o3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>No sé</key>
				<dict>
					<key>id</key>
					<string>14o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>14</string>
			<key>title</key>
			<string>Arrastre al círculo correspondiente, de acuerdo con su desempeño futbolístico, cada uno de los equipos de futbol</string>
			<key>type_of</key>
			<string>MS</string>
		</dict>
		<key>5</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Canal 13</key>
				<dict>
					<key>id</key>
					<string>15i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Canal 22</key>
				<dict>
					<key>id</key>
					<string>15i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Canal 5</key>
				<dict>
					<key>id</key>
					<string>15i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Canal 7</key>
				<dict>
					<key>id</key>
					<string>15i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Canal 9</key>
				<dict>
					<key>id</key>
					<string>15i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Once TV</key>
				<dict>
					<key>id</key>
					<string>15i6</string>
					<key>order_number</key>
					<string>6</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>Buena</key>
				<dict>
					<key>id</key>
					<string>15o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Mala</key>
				<dict>
					<key>id</key>
					<string>15o4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Muy Buena</key>
				<dict>
					<key>id</key>
					<string>15o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Muy Mala</key>
				<dict>
					<key>id</key>
					<string>15o5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Regular</key>
				<dict>
					<key>id</key>
					<string>15o3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>15</string>
			<key>title</key>
			<string>Califique la programación de los siguientes canales de televisión, arrastrando el punto blanco a la derecha o a la izquierda de cada barra, a la opción que mejor refleje su opinión</string>
			<key>type_of</key>
			<string>LK</string>
		</dict>
		<key>6</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Iusacell</key>
				<dict>
					<key>id</key>
					<string>16i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Movistar</key>
				<dict>
					<key>id</key>
					<string>16i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Telcel</key>
				<dict>
					<key>id</key>
					<string>16i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Unefon</key>
				<dict>
					<key>id</key>
					<string>16i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict/>
			<key>meta_question_id</key>
			<string>16</string>
			<key>title</key>
			<string>Ordene del 1 al 4 la calidad en el servicio de las siguientes compañías telefónicas</string>
			<key>type_of</key>
			<string>PO</string>
		</dict>
		<key>7</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Audi</key>
				<dict>
					<key>id</key>
					<string>17i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>BMW</key>
				<dict>
					<key>id</key>
					<string>17i6</string>
					<key>order_number</key>
					<string>6</string>
				</dict>
				<key>Dodge</key>
				<dict>
					<key>id</key>
					<string>17i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Fiat</key>
				<dict>
					<key>id</key>
					<string>17i8</string>
					<key>order_number</key>
					<string>8</string>
				</dict>
				<key>Mercedes-Benz</key>
				<dict>
					<key>id</key>
					<string>17i7</string>
					<key>order_number</key>
					<string>7</string>
				</dict>
				<key>Nissan</key>
				<dict>
					<key>id</key>
					<string>17i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Renault</key>
				<dict>
					<key>id</key>
					<string>17i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Volkswagen</key>
				<dict>
					<key>id</key>
					<string>17i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>Desempeño</key>
				<dict>
					<key>id</key>
					<string>17o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Precio</key>
				<dict>
					<key>id</key>
					<string>17o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>17</string>
			<key>title</key>
			<string>Coloque en el siguiente plano cada uno de los logotipos de las empresas automotrices que aparecerán, tomando en cuenta la relación precio-desempeño de cada marca</string>
			<key>type_of</key>
			<string>MOSM</string>
		</dict>
		<key>8</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Esquema de Financiamiento</key>
				<dict>
					<key>id</key>
					<string>18i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Precio Actual</key>
				<dict>
					<key>id</key>
					<string>18i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Servicios</key>
				<dict>
					<key>id</key>
					<string>18i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Tamaño del Predio</key>
				<dict>
					<key>id</key>
					<string>18i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Ubicación</key>
				<dict>
					<key>id</key>
					<string>18i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict/>
			<key>meta_question_id</key>
			<string>18</string>
			<key>title</key>
			<string>Al elegir una nueva casa, ¿qué valor tienen para usted los siguientes puntos? (el total debe sumar 100 puntos)</string>
			<key>type_of</key>
			<string>CS</string>
		</dict>
		<key>9</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Burger King</key>
				<dict>
					<key>id</key>
					<string>19i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Domino&apos;s Pizza</key>
				<dict>
					<key>id</key>
					<string>19i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Subway</key>
				<dict>
					<key>id</key>
					<string>19i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>Completo</key>
				<dict>
					<key>id</key>
					<string>19o3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Delicioso</key>
				<dict>
					<key>id</key>
					<string>19o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Económico</key>
				<dict>
					<key>id</key>
					<string>19o4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Saludable</key>
				<dict>
					<key>id</key>
					<string>19o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>19</string>
			<key>title</key>
			<string>Toque cada uno de los restaurantes y califíquelos encerrando en un círculo los calificativos atributos con los que esté de acuerdo</string>
			<key>type_of</key>
			<string>MOS</string>
		</dict>
		<key>10</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Opinión</key>
				<dict>
					<key>id</key>
					<string>110i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict/>
			<key>meta_question_id</key>
			<string>110</string>
			<key>title</key>
			<string>¿Qué opina del voto nulo?</string>
			<key>type_of</key>
			<string>OQ</string>
		</dict>
		<key>11</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>American Express</key>
				<dict>
					<key>id</key>
					<string>111i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>BBVA Bancomer</key>
				<dict>
					<key>id</key>
					<string>111i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Banamex</key>
				<dict>
					<key>id</key>
					<string>111i6</string>
					<key>order_number</key>
					<string>6</string>
				</dict>
				<key>Banorte</key>
				<dict>
					<key>id</key>
					<string>111i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>HSBC</key>
				<dict>
					<key>id</key>
					<string>111i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Master Card</key>
				<dict>
					<key>id</key>
					<string>111i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Santander</key>
				<dict>
					<key>id</key>
					<string>111i7</string>
					<key>order_number</key>
					<string>7</string>
				</dict>
				<key>VISA</key>
				<dict>
					<key>id</key>
					<string>111i8</string>
					<key>order_number</key>
					<string>8</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict>
				<key>kDeselected</key>
				<dict>
					<key>id</key>
					<string>111o2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>kSelected</key>
				<dict>
					<key>id</key>
					<string>111o1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
			</dict>
			<key>meta_question_id</key>
			<string>111</string>
			<key>title</key>
			<string>Arrastre hacia el círculo inferior solo los servicios financieros que actualmente esté utilizado</string>
			<key>type_of</key>
			<string>MS</string>
		</dict>
		<key>12</key>
		<dict>
			<key>instruction</key>
			<data>BAgw</data>
			<key>meta_answer_items</key>
			<dict>
				<key>Atractiva-No atractiva</key>
				<dict>
					<key>id</key>
					<string>112i1</string>
					<key>order_number</key>
					<string>1</string>
				</dict>
				<key>Cercana-Distante</key>
				<dict>
					<key>id</key>
					<string>112i2</string>
					<key>order_number</key>
					<string>2</string>
				</dict>
				<key>Colorida-Descolorida</key>
				<dict>
					<key>id</key>
					<string>112i3</string>
					<key>order_number</key>
					<string>3</string>
				</dict>
				<key>Deseable-Indeseable</key>
				<dict>
					<key>id</key>
					<string>112i4</string>
					<key>order_number</key>
					<string>4</string>
				</dict>
				<key>Divertida-Aburrida</key>
				<dict>
					<key>id</key>
					<string>112i5</string>
					<key>order_number</key>
					<string>5</string>
				</dict>
				<key>Fresca-Caliente</key>
				<dict>
					<key>id</key>
					<string>112i6</string>
					<key>order_number</key>
					<string>6</string>
				</dict>
			</dict>
			<key>meta_answer_options</key>
			<dict/>
			<key>meta_question_id</key>
			<string>112</string>
			<key>title</key>
			<string>Evalúe la etiqueta de la lata conforme a los siguientes atributos</string>
			<key>type_of</key>
			<string>SD</string>
		</dict>
	</dict>
	<key>meta_survey_id</key>
	<string>1</string>
</dict>
</plist>
